{% extends 'components/base.html' %}

{% block title %}
Update Blood Stock
{% endblock %}

{% block body %}

<div class="login-container">


    <div class="card login-card" style="width: 330px; height: 500px;">
        <div class="card-body">
            <h5 class="card-title text-center my-5">BLOOD STOCK MANAGEMENT</h5>

            <form action="{% url 'bloodStockEdit' pk=user.pk %}"  method="post">
                {% csrf_token %}
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="A_positive">
                    <label for="floatingInput4">A+ (in Ltrs.)</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="A_negative">
                    <label for="floatingInput4">A- (in Ltrs.)</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="O_positive">
                    <label for="floatingInput4">O+ (in Ltrs.)</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="O_negative">
                    <label for="floatingInput4">O- (in Ltrs.)</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="AB_positive">
                    <label for="floatingInput4">AB+ (in Ltrs.)</label>
                </div>
                <div class="form-floating mb-4 ">
                    <input type="text" class="form-control" id="floatingInput4" placeholder="99"
                        name="AB_negative">
                    <label for="floatingInput4">AB- (in Ltrs.)</label>
                </div>

                <!-- <p class="card-text text-center mb-4">New User? <a href="{% url 'registerPageBloodBank' %}"
                        class="card-link login-page-register-link">Register Here</a></p> -->
                <div class="text-center ">
                    <button type="submit" class="btn login-btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}